# Binance API Credentials
BINANCE_API_KEY=MQavemA6FfpQUAoJgwWdztVtDZupeJAG28Hatkyom056stqPSbQ81WvTLyeG8FHOyour_testnet_api_key_here
BINANCE_API_SECRET=kArk5iCLRWjdmT9Ftyn0kAXeI70yaHpPm6S0dxIgppmiAfX9gWaiHXM8Q0Ipr0Fq

# Base URL for Futures Testnet API
# Standard: https://testnet.binancefuture.com
BASE_URL=https://testnet.binancefuture.com
